<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename ='js/script.js') }}"></script>    
</head>
<body>
    <h1>Ninja Challenge</h1>
    <form action="/process" method = 'post'>
        <h3>Ninja Name</h3><input type="text" name="name">
        <input type="submit" value="name">
    </form>

    <!-- <p>{{name}}</p> -->
    
</body>
</html>